body {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
}

#banner {
    width: 800px;
    height: 100px;
    background-color: rgb(255, 233, 34);
    opacity:0.7;
    clear:both;
    position:fixed;

}
#banner-placeholder{
    height: 100px;
}

#nav {
    width: 100px;
    /* height: 200px; */
    /* background-color:lightgray; */
    /* float:left; */
    position:fixed;
}

#content {
    width: 600px;
    float:left;
}
#footer {
    width: 800px;
    height: 50px;
    background-color: rgb(232, 255, 115);
    clear:both;
}
#supporting {
    width: 100px;
    height: 150px;
    background-color: rgb(135, 235, 212);
    float:left;
}

#nav {
    width: 100px;
    background-color:rgb(255, 238, 152);
    /* float:left; */
    position:fixed;
}

ul{
    padding-left: 0;
}
li{
    display:block;
    text-align: center;
    margin-bottom: 5px;
}

li:hover{
    background-color:yellow;
}
ul a{
    text-decoration: none;
}

#nav-placeholder{
    width:100px;
    float:left;
}

#content {
    width: 600px;
    float:left;
}

#supporting {
    width: 100px;
    height: 150px;
    background-color:rgb(247, 205, 79);
    float:left;
}

#footer {
    width: 800px;
    height: 50px;
    background-color:rgb(244, 221, 175);
    clear:both;
}


.container {
    overflow: hidden; /* Clear floats */
  }

section{
    height:100vh;
    /* scroll-margin-top: 100px;  */
}

.text-container{
    padding: 5px;
}

section{
    padding-top: 100px;
    margin-top: -100px;
		/* scroll-margin-top: 100px;  */
}